#-------------------------------------------------------------------------------------------
# Copyright (c) 2024 SkillerRaptor
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Editor Config
#-------------------------------------------------------------------------------------------
root = true

# All files
[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Typescript files
[*.ts]
indent_style = space
indent_size = 4
