#-------------------------------------------------------------------------------------------
# Copyright (c) 2024 SkillerRaptor
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Dependencies
#-------------------------------------------------------------------------------------------
/node_modules/

#-------------------------------------------------------------------------------------------
# Compiled Files
#-------------------------------------------------------------------------------------------
/main.js
