#-------------------------------------------------------------------------------------------
# Copyright (c) 2024 SkillerRaptor
#
# SPDX-License-Identifier: MIT
#-------------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------------
# Editor Files
#-------------------------------------------------------------------------------------------
/.cache/
/.idea/
/.vs/
/.vscode/

#-------------------------------------------------------------------------------------------
# TypeScript
#-------------------------------------------------------------------------------------------
/node_modules/
/main.js
/**/*.map

#-------------------------------------------------------------------------------------------
# Obsidian
#-------------------------------------------------------------------------------------------
data.json

#-------------------------------------------------------------------------------------------
# Other
#-------------------------------------------------------------------------------------------
/**/.DS_Store
